.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
   
.body {
    width: 400px;
    box-shadow: 1px 1px 1px 0 rgba(196, 37, 37, 0.3);
  }
   
.header {
  width: 400px;
    color: #fff;
    font-size: 24px;
    padding: 30px 20px;
    background-color: #108ee9;
    text-align: center;
  }
   
.form {
    margin-top: 12px;
    padding: 24px;
  }
   
.btn1 {
    width: 30%;
    
  }
.btn2{
  width: 30%;
  float: right;
}