.importent{
  width: 100%;
  height: 1200px;
  border-bottom: 1px solid rgb(206, 196, 196);
}
.importent1{
  width: 70%;
  height: 350px;
  margin: auto;
  position: relative;
  top: 10px;
}
.importent1_1{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.title{
  width: 100%;
  height: 30px;
  font-size: 1.5em;
  border-bottom: 1px solid rgb(20, 20, 20);
}
.til{
  width: 100%;
  height: 20px;
}
.til0{
  height: 20px;
  width: 60px;
  float: right;
  font-family: "宋体";
  font-size: 1em;
  position: relative;
  top: 140px;
  right: 10px;

}
.main1{
    float: left;
    width: 300px;
    height: 400px;
    position: relative;
    top: 10px;
    border: 1px;
    border-style:solid;
    border-color: black;
    border-radius: 10px;/*边框圆滑10px*/

}
.main2{
  float: left;
  width: 300px;
  height: 400px;
  position: relative;
  top: 10px;
  border: 1px;
  border-style:solid;
  border-color: black;
  border-radius: 10px;/*边框圆滑10px*/

}
.main3{
  float: right;
  width: 300px;
  height: 400px;
  position: relative;
  top: 10px;
  border: 1px;
  border-style:solid;
  border-color: black;
  border-radius: 10px;/*边框圆滑10px*/
}
.Label{
  position: relative;
  bottom: 40px;
}
 .inside2{
    border-radius: 50%;/*圆形*/
    border-style:solid; 
    margin:0 auto;
    margin-top:10px;
    width: 150px;
    height: 150px;
  }
.inside3{
    width: 100%;
    height: 220px;

  }
.text1{
    width: 100%;
    height: 70px;
    position: relative;
    font-size:3em;
    text-align:center;

}
.p1{
  float: left;
  position: relative;
  top: 230px;
  left: 10px;
  
}
.p2{
  float: right;
  position: relative;
  top: 230px;
  right: 10px;
  
}

.importent2{
  position: relative;
  top: 180px;
  border: 1px solid rgb(196, 193, 193);
  width: 70%;
  height: 150px;
  margin: auto;
  
}
.t1{
  float: left;
  border-radius: 50%;/*圆形*/
  width: 150px;
  height: 150px;
  background-image:url("/images/1.jpg") ;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 40px;
}
.t2{
  float: right;
  border-left: 1px solid rgb(196, 193, 193);
  width: 75%;
  height: 150px;
}
.t2 p{
  position: relative;
  top: 10%;
  margin: auto;
  height: 80%;
  width: 80%;
}

.img1{
  height:100%;
  width:100%;
  border-radius: 50%;/*圆形*/
  background-image: url("/images/1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
 

}
.img1:after{
  content: '';
  display: none;
  width: 150px;
  height: 150px;
  position: relative;
  bottom:8px;
  background-size: 50%;
  background-repeat: no-repeat;

}
.img1:hover{
  background-image: url("/images/3.jpg");
}
.img1:hover:after{
  display: block;
}

.img2{
  height:100%;
  width:100%;
  border-radius: 50%;/*圆形*/
  background-image: url("/images/g.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
 

}
.img2:after{
  content: '';
  display: none;
  width: 150px;
  height: 150px;
  position: relative;
  bottom:8px;
  background-size: 50%;
  background-repeat: no-repeat;

}
.img2:hover{
  background-image: url("/images/93ce333dc3d14b33-84cc72cba1a80daa-9e39a9022eb5fe19ca153aabe11853a6.jpg");
}
.img2:hover:after{
  display: block;
}
.img3{
  height:100%;
  width:100%;
  border-radius: 50%;/*圆形*/
  background-image: url("/images/4.png");  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
 

}
.img3:after{
  content: '';
  display: none;
  width: 150px;
  height: 150px;
  position: relative;
  bottom:8px;
  background-size: 50%;
  background-repeat: no-repeat;

}
.img3:hover{
  background-image: url("/images/7.jpg");
}
.img3:hover:after{
  display: block;
}