/*用于切换图片的样式*/
.checkSwiper-last {
    position: absolute;
    left: 0;
    opacity: 1;
    z-index: 1;
    transform: translateX(-855px);
}
.checkSwiper-new {
    position: absolute;
    left: 0;
    opacity: 1;
    z-index: 3;
    transform: translateX(0);
}
.checkSwiper-next {
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 3;
    transform: translateX(855px);
    transition-duration: 0;
}/*切换按钮*/
.oldPoint {
    background-color: rgb(51,51,51)!important;
}
.newPoint {
    background-color: rgb(225,71,47)!important;
}
