.header{
    height:3em;
    color: white;
    margin-top: 100px;
}
.h1{
    margin-left: 80px;
    color: red;
}
.p{
    margin-left: 40px;
    color: rgb(167, 182, 32);
}
.p2{
    display:inline;
    margin-left: 125px;
}
.p3{
    display:inline;
    margin-left: 5px;
    color: rgb(167, 182, 32);
}
.B{
    margin-left: 100px;
}
.wrap{
    background: url("../images/登录背景图.gif");
    margin:0 auto;
    width:400px;
}
