.setlist{
    margin-top: 20px;
    padding-bottom: 20px;
}
.setlist li.setname{
    float: left;
    line-height: 24px;
}
.setlist li{
    display: inline-block;
    vertical-align:middle;
}
li{
    list-style :none;
}
.setlist .organization{
    padding-top: 0px;
}
.setlist .organization span{
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}
