.e1{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(212, 200, 200);
}
.e2{
    width: 30%;
    float: right;
    position: relative;
    top: 7px;
    right: 5px;
}
.p1{
    float: left;
    font-size: 2em;
    position: relative;
    left: 20px;
}

.l{
    width:100%;
    height: 1000px;
    border-bottom: 1px solid rgb(212, 200, 200);   
    display: flex;
    flex-direction: column;
}

.l1{
    width:100%;
    height: 80px;
    border: 1px solid rgb(212, 200, 200);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.img1{
    position: relative;
    left: 17px;
    top: 8px;
}
.l2{
    width: 100px;
    height: 80px;  
    position: relative; 
    
}
.l3{
    border-radius: 5px;
    border: 1px solid rgb(212, 200, 200);
    width: 80%;
    height: 70px;
    position: relative;
    left: 10px;
    top:5px;
}
.b{
    width: 120px;
    height: 80px;
    position: relative;
    left: 15px;
    display: flex;
    flex-direction: column;
}
.b1{
    position: relative;
    top: 5px;
}
.b2{
    position: relative;
    top: 10px;
}
.l_1{
    width: 85%;
    height: 900px;
    margin: auto;
}
.rr{
    width: 100%;
    height: 330px;
    border-bottom: 1px solid rgb(212, 200, 200);
}
.pd{
    position: relative;
    top: 200px;
    left: 80%;
}